@media screen and (max-width: 1200px) {
    .delivery .container .delivery_list_item {
        padding: 15px;
    }

    .delivery .container .delivery_list {
        gap: 20px;
    }
}

@media screen and (max-width: 1100px) {
    #details .container .details_inner .details_content {
        width: 60%;
        padding-right: 20px;
    }

    #footer .footer_container .footer_logo_block {
        width: 16%;
        margin-right: 100px;
    }

    #footer .footer_container .footer_navigation_block {
        width: 15%;
    }

    #products .container .products_content .tabs .tabs_list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .tabs_list_name {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 960px) {
    #main_menu {
        display: none;
    }

    #hamburger_menu {
        display: block;
    }

    #header_menu .header-container .header_navigation {
        width: 30%;
    }

    #main_page .container .main_inner .main_content .main_title {
        font-size: 40px;
        line-height: 50px;
    }

    .delivery .container .delivery_list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .delivery .container .delivery_list_item {
        width: 43%;
    }

    #footer .footer_container {
        flex-wrap: wrap;
        gap: 50px;
    }

    #footer .footer_container .footer_logo_block {
        width: 40%;
        margin-right: 0;
    }

    #footer .footer_container .footer_navigation_block {
        width: 30%;
    }

    #app_block .container .app_block_wrapper .app_block_content .app_block_title {
        font-size: 32px;
        line-height: 40px;
    }

    #products .container .products_content .tab_content_wrapper .tab_content .tab_text_item {
        width: 70%;
    }
}

@media screen and (max-width: 850px) {
    #details .container .details_inner {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #details .container .details_inner .details_content {
        width: 80%;
    }

    #top_products {
        padding: 80px 0 100px;
    }

    #app_block .container .app_block_wrapper {
        justify-content: start;
        flex-direction: column-reverse;
        gap: 100px;
        align-items: start;
    }

    #app_block .container .app_block_wrapper .app_block_content {
        width: 90%;
    }

    #app_block .container .app_block_wrapper .app_block_picture {
        position: relative;
        top: 0;

    }
}

@media screen and (max-width: 770px) {
    #main_page .container .main_inner {
        flex-direction: column;
    }

    #main_page .container .main_inner .main_content {
        width: 80%;
    }

    #main_page {
        padding: 200px 0 50px;
    }
}

@media screen and (max-width: 590px) {
    #main_page .container .main_inner .main_content .main_title {
        font-size: 30px;
        line-height: 36px;
    }

    .callback_btn {
        width: 100px;
    }

    #details .container .details_inner .details_content .details_title {
        font-size: 32px;
        line-height: 36px;
    }

    #footer .footer_container .footer_logo_block {
        width: 90%;
    }

    #footer .footer_container .footer_navigation_block {
        width: 50%;
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    .delivery .container .delivery_list_item {
        width: 70%;
    }

    #footer .footer_container .footer_subscribe_block .subscribe_form {
        width: 320px;
    }

    #app_block .container .app_block_wrapper .app_block_content .apps_logo a {
        width: 150px;
    }
}

@media screen and (max-width: 410px) {
    #app_block .container .app_block_wrapper .app_block_content .apps_logo a {
        width: 120px;
    }
}