$base_size: 16;
@mixin fz($px_size){
    font-size: ($px_size/$base_size)+rem;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;    
}
html,
body {
    width: 100%;
    height: 100%;
}
body{    
    font-family: 'Hind Madurai';
    font-size: 1rem;
    min-width: 350px;    
}

a {
    text-decoration: none;
    &:focus {
        border: 2px solid transparent;
    }
}
ul,
li {
    list-style: none;
}
img {
    vertical-align: top; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container {
    width: 90%;
    max-width: 1125px;
    margin: 0 auto;
}

.btn {
    width: 165px;
    height: 50px;
    background: #D23166;
    border-radius: 5px;
    font-weight: 700;
    line-height: 22px;
    @include fz(16);
    text-transform: capitalize;
    color: #fff;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: scale(1.1);
    }
}

#header_menu {
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 10px 0;    
    left: 0;
    top: 0;    
    z-index: 1010;
    background: rgba(242, 206, 218, 0);            
    .header-container{
        display: flex;                      
        justify-content: space-between;
        #header_logo {
            width: 80px;
            height: 80px;
        }                                            
        .header_navigation {
            width: 93%;
            display: flex;                      
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;              
            #main_menu {
            width: 100%;                                           
                ul{
                display: flex;
                justify-content: center;                               
                gap: 40px;
                li {
                    a{
                    text-transform: capitalize;
                    display: inline-block;                            
                    width: 100%;
                    height: 100%;   
                    color:rgba(0, 0, 0, .6);
                    font-family: 'Roboto';
                    font-weight: 400;
                    line-height: 16px;
                    @include fz(14);
                    position: relative;                    
                    transition: all .5s ease;
                        &:before {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 0;
                            background-color: transparent;                                                                    
                            bottom: 0;
                            left: 0;
                            transition: all .5s ease;         
                        }
                        &:hover {
                            text-decoration: none;
                            color:rgba(0, 0, 0, 1);
                            &:before {
                                width: 100%;
                                height: 3px;                                
                                background-color: #D23166;                                
                            }
                        }                                  
                    }
                }
            }       
        }            
    }      
}

    &.scrolled {
        height: 120px;
        padding-top: 30px;
        background-color: rgba(242, 206, 218, 0.3);
        box-shadow: 0 0 5px #999;
        backdrop-filter: blur(3px);
    }
}

#hamburger_menu {
    display: none;    
    a {
        display: inline-block;
        width: 50px;
        height: 50px;
        svg {
            width: 40px;
            height: 40px;
        }
    }
}

#page_overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.7);
    z-index: 999;
    backdrop-filter: blur(5px);
}

#mobile_menu_wrap {
    position: fixed;
    top: 0;
    left: -500px;    
    background-color: rgba(242, 206, 218, 0.3);
    height: 100vh;
    width: 100%;
    max-width: 400px;    
    box-shadow: 0 0 10px #000;       
    transition: all .4s ease;
    z-index: 1000;
    &.top {
        max-width: 100%;
        height: auto;
        min-height: 200px;
    }
    img {
        width: 115%;
    }
}
.sidemenu_top {
    padding: 10px;    
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
}
.sidemenu {
    li {
        border-bottom: 1px solid #fff;
        a {
            display: inline-block;
            padding: 15px;            
            @include fz(20);            
            font-weight: 700;
            text-transform: uppercase;
            width: 100%;
            color: #fff;

        }
    }
}
.open {
    #page_overlay {
        display: block;
    }
    #mobile_menu_wrap {
        left: 0;
    }
    #hamburger--slider .hamburger-inner {
        background-color: #fff;        
        -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
                transform: translate3d(0, 10px, 0) rotate(45deg); }
    #hamburger--slider .hamburger-inner::before {
          -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
                  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
          opacity: 0; }
    #hamburger--slider .hamburger-inner::after {
        -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
                transform: translate3d(0, -20px, 0) rotate(-90deg); }            
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
    background-color: #fff;
}

#main_page {
    background: rgba(242, 206, 218, .3);
    padding: 135px 0;
    // height: 100vh;
    .container{
        .main_inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .main_content {
                width: 59%;
                .subtext{
                    font-family: 'Roboto';
                    font-weight: 500;
                    @include fz(14);
                    line-height: 16px;
                    letter-spacing: 0.1em;
                    margin-bottom: 5px;
                    color: #0F0101;                    
                }
                .main_title{
                    width: 98%;
                    color: #0F0101;
                    font-family: 'Fredoka One';
                    @include fz(57);
                    line-height: 69px;
                    margin-bottom: 35px;
                    &_item {
                        color: #D23166;
                    }
                }
                .main_text{
                    width: 79%;
                    margin-bottom: 50px;
                    color:rgba(0, 0, 0, .6);
                    font-family: 'Hind Madurai';
                    font-weight: 400;
                    @include fz(18);
                    line-height: 27px;
                }
            }
            .main_picture{
                width: 41%;
                margin-right: -20px;
            }
        }
    }
}

.delivery{
    padding: 100px 0;    
    .container{
        .delivery_list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            gap: 40px;
            &_item {
                font-family: 'Hind Madurai';
                border: 1px solid rgba(0, 0, 0, .03);
                border-radius: 5px;
                padding: 33px 26px 27px;
                width: 100%;
                height: 100%;
                a{
                    color: #0F0101;
                    display: block;
                    width: 100%;
                    height: 100%;
                    svg {
                        width: 50px;
                        height: 50px;
                        margin-bottom: 25px;
                    }
                    .delivery_icon{
                        width: 45px;
                        height: 45px;
                        margin-bottom: 25px;                    
                    }
                    .icecup {
                        width: 35px;
                    }
                    h5{                    
                        font-weight: 600;
                        @include fz(20);
                        line-height: 28px;
                        margin-bottom: 10px; 
                    }
                    p{
                        font-weight: 400;
                        @include fz(14);
                        line-height: 19px;
                        color:rgba(0, 0, 0, .6);
                    }

                }
                &:hover{
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }               
                
            }
        }
    }
}

#details{
    background: rgba(242, 206, 218, .3);
    padding: 50px 0;
    .container{
        .details_inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .details_content {
                width: 40%;
                color:#150101;
                .details_title{
                    width: 90%;
                    font-family: 'Hind Madurai';
                    font-weight: 600;
                    @include fz(44);
                    line-height: 49px;                    
                    margin-bottom: 17px;
                }
                .details_text{
                    font-family: 'Roboto';
                    font-weight: 400;
                    @include fz(16);
                    line-height: 24px;
                    margin-bottom: 35px;
                    color:rgba(0, 0, 0, .6);
                }
            }
        }
    }  
}

#products{
    .container{
        .products_content{            
            padding: 137px 0 112px;
            .products_title{
                text-align: center;
                font-family: 'Hind Madurai';
                font-weight: 600;
                @include fz(44);
                line-height: 61px;
                margin-bottom: 64px;
            }
            .tabs{
                width: 90%;
                margin: 0 auto 109px;
                .tabs_list {
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    &_name {
                        a{                        
                        text-transform: uppercase;
                        display: inline-block;                            
                        width: 100%;
                        height: 100%;   
                        color:rgba(0, 0, 0, .6);                        
                        font-family: 'Roboto';
                        font-weight: 500;
                        line-height: 21px;
                        @include fz(18);
                        position: relative;                    
                        transition: all .5s ease;
                            &:before {
                                content: '';
                                position: absolute;
                                width: 0;
                                height: 0;
                                background-color: transparent;                                                                    
                                bottom: 0;
                                left: 0;
                                transition: all .5s ease;         
                            }
                            &:hover {
                                text-decoration: none;
                                color:rgba(0, 0, 0, 1);
                                &:before {
                                    width: 100%;
                                    height: 3px;
                                    background-color: #D23166;                                
                                }
                            }                                  
                        }
                    }
                }
            }
            .tab_content_wrapper{                
                .tab_content{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 50px;                    
                    .tab_text_item{
                        width: 41%;
                        .tab_title{
                            font-family: 'Hind Madurai';
                            font-weight: 700;
                            @include fz(26);
                            line-height: 36px;
                            margin-bottom: 10px; 
                        }
                        .tab_text{
                            color:rgba(0, 0, 0, .6);                        
                            font-family: 'Roboto';
                            font-weight: 400;
                            @include fz(16);
                            line-height: 24px;
                            margin-bottom: 28px;
                        }
                        .tab_prise{
                            margin-bottom: 17px;
                            font-family: 'Hind Madurai';
                            font-weight: 500;
                            .discount_price{
                                @include fz(26);
                                line-height: 36px;
                                margin-right: 5px;
                            }
                            .main_price{
                                @include fz(20);
                                line-height: 28px;
                                color:rgba(0, 0, 0, .7);
                                text-decoration: line-through;
                            }
                        }
                    }                    
                }
            }            
        }
    }
}

#top_products{
    padding: 137px 0 112px;
    .container{
        .top_title{
            text-align: center;
            font-family: 'Hind Madurai';
            font-weight: 600;
            @include fz(44);
            line-height: 61px;
            margin-bottom: 64px; 
        }
        .slider_wrap{
            #product_slider{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                .product_card{
                    width: 33.3333%;
                    text-align: center;
                    border: 1px solid transparent;
                    border-radius: 5px;
                    padding: 0 0 30px;
                    background: rgba(242, 206, 218, .3);
                    .product_pic{
                        margin-bottom: 30px;
                    }
                    .product_card_content{
                        width: 90%;
                        margin: 0 auto;
                        .product_card_title{
                            font-family: 'Hind Madurai';
                            font-weight: 700;
                            @include fz(26);
                            line-height: 36px;
                            margin-bottom: 10px; 
                        }
                        .product_card_text{
                            color:rgba(0, 0, 0, .6);                        
                            font-family: 'Roboto';
                            font-weight: 400;
                            @include fz(16);
                            line-height: 24px;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;  
                            overflow: hidden;  
                            margin-bottom: 28px; 
                        }
                        .product_card_prise{
                            margin-bottom: 17px;
                            font-family: 'Hind Madurai';
                            font-weight: 500;
                            .discount_card_price{
                                @include fz(26);
                                line-height: 36px;
                                margin-right: 5px;
                            }
                            .main_card_price{
                                @include fz(20);
                                line-height: 28px;
                                color:rgba(0, 0, 0, .7);
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
    }
}

#app_block{
    background: rgba(242, 206, 218, .3);
    padding: 90px 0 150px;
    .container{
        .app_block_wrapper{
            display: flex;
            justify-content: flex-end;
            align-items: center;            
            position: relative;
            .app_block_picture{                
                position: absolute;
                left: 0;
                top: -30px;
                img{
                    border-radius: 35px;
                }                
            }
            .app_block_content{
                width: 56%;
                font-family: 'Roboto';
                .app_block_title{
                    font-weight: 500;
                    @include fz(44);
                    line-height: 52px;
                    margin-bottom: 20px;
                }
                .app_block_text{
                    font-weight: 400;
                    @include fz(18);
                    line-height: 21px;
                    margin-bottom: 30px;
                    color:rgba(0, 0, 0, .7);                    
                }
                .app_list{
                    margin-bottom: 50px;
                    &_item{                        
                        margin-bottom: 20px;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;                                                                                                                         
                        svg{
                            width: 30px;
                            height: 30px;
                            background-color: #fff;
                            padding: 5px;
                            border-radius: 5px;
                            margin-right: 10px;
                        }
                        p{
                            display: inline-block;
                            font-weight: 400;
                            @include fz(22);
                            line-height: 30px;
                            vertical-align: top;                                                                                   
                        }
                    }
                }
                .apps_logo{
                    a{
                    display: inline-block;
                    transition: all .2s ease-in-out;                                        
                    &:first-child{
                        margin-right: 30px;
                        }
                    &:hover { 
                        transform: scale(1.1);                                              
                        }   
                    }
                }
            }
        }
    }
}

#testimonials{
    padding: 150px 0;
    .container{
        .testimonials_title{
            width: 80%;
            margin: 0 auto 100px;            
            color: #0F0101;
            font-family: 'Hind Madurai';
            font-weight: 700;
            @include fz(57);
            line-height: 69px;            
            text-align: center;
        }
        .testimonials_content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .testimonials_slider_wrapper{
                width: 60%;
                #testimonials_slider{
                    .testimonials_item{
                        font-family: 'Roboto';
                        .author_name{                            
                            font-weight: 500;
                            @include fz(36);
                            line-height: 40px;
                            margin-bottom: 50px; 
                        }                        
                        .testimonial_text{                                                      
                            font-weight: 400;
                            @include fz(16);
                            line-height: 24px;
                            color:rgba(0, 0, 0, .7);
                            width: 90%;
                            margin-bottom: 50px;
                            svg{
                                width: 10px;
                                height: 20px;
                            }                                                   
                        }
                    }
                }
            }            
        }
    }
}

#footer{
    background-color: #000;
    padding: 70px 0 110px;
    color: #fff;
    font-family: 'Roboto';
    .footer_container{
        display: flex;
        justify-content: space-between;
        align-items: center;        
        .footer_logo_block{
            margin-right: 200px;
            width: 21%;
            @include fz(12);            
            #footer_logo{
                width: 80px;
                height: 80px;
                margin-bottom: 20px;
            }
            .footer_description{
                margin-bottom: 25px;
                p{
                font-weight: 400;                
                letter-spacing: 1px;
                line-height: 17px;
                color: rgba(255, 255, 255, .6);
                }
            }
            .footer_network{
                .network_title{
                    font-weight: 500;
                    margin-bottom: 8px;
                    line-height: 14px;
                }
                .network_list{
                    .network_list_item{
                        width: 15px;
                        height: 15px;
                        display: inline-block;
                        margin-right: 10px;
                        transition: all .2s ease-in-out;                        
                        &:hover{
                        transform: scale(1.3); 
                        }
                    }
                }
            }
        }
        .footer_navigation_block{
            padding-top: 90px;            
            width: 44%;            
            #footer_navigation {                
                width: 100%;                                           
                    ul{                                                          
                    li {                        
                        margin-bottom: 10px;
                        a{
                        text-transform: capitalize;
                        display: inline;                            
                        width: 100%;
                        height: 100%;   
                        color: rgba(255, 255, 255, .6);
                        font-family: 'Roboto';
                        font-weight: 400;
                        line-height: 16px;
                        @include fz(12);
                        position: relative;                    
                        transition: all .5s ease;
                            &:before {
                                content: '';
                                position: absolute;
                                width: 0;
                                height: 0;
                                background-color: transparent;                                                                    
                                bottom: -5px;
                                left: 0;
                                transition: all .5s ease;         
                            }
                            &:hover {
                                text-decoration: none;
                                color: rgba(255, 255, 255, 1);
                                &:before {
                                    width: 100%;
                                    height: 3px;                                
                                    background-color: #D23166;                                
                                }
                            }                                  
                        }
                    }
                }
            }       
        }
        .footer_subscribe_block{
            vertical-align: middle;            
            h5{
            font-weight: 500;
            @include fz(16);
            line-height: 19px;
            margin-bottom: 15px;
            }
            .subscribe_form{
                display: flex;
                width: 390px;
                height: 55px;
                margin-bottom: 20px;
                border: 2px solid rgba(214,67,116, .5);
                border-radius: 5px;
                position: relative;                
                .input_wrapper{
                    width: 68%;
                    height: 100%;                    
                    .subscribe_form_textarea{
                        padding: 20px 0 20px 32px;
                        width: 100%;
                        height: 100%;
                        background-color: #000;                        
                        outline: none;
                        border: none;
                        @include fz(14);
                        font-weight: 400;
                        line-height: 17px;
                    }
                }
                .btn_wrapper{
                    position: absolute;
                    right: -1px;
                    top: -2px;
                    width: 32%;
                    height: 100%;
                    .subscribe_btn{
                        width: 100%;
                        height: 107%;                        
                    } 
                }
            }
            .pay_list{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 15px;                
                .pay_list_item{
                    height: 22px;
                }
                .small{
                    width: 20px;
                }
                .middle{
                    width: 35px;
                }
                .big{
                    height: 15px;
                    width: 48px;
                }
            }
        }
    }
}